<app-dashboard>
  <div class="space-inside-sm">
    <h3 class="inline-block">
      {{ title }}
    </h3>

    <button (click)="addItem()" class="inline-block btn bg-main text-color-light right bg-main-hover-darken-xs transition-normal">
      Toevoegen
    </button>
  </div>

  <div class="container">
    <div class="col-lg-12 text-center space-inside-xl" *ngIf="loading">
      <img src="../../../assets/img/svg-loaders/three-dots.svg" />
    </div>
  </div>

  <div class="container space-inside-md left animated fadeIn" *ngIf="!loading">
    <div class="col-lg-10 space-inside-down-sm">
      <div class="form-group">
        <input type="text" (keyup)="setSearchParam($event)" class="form-control inline-block" placeholder="Zoek advies..." />
        <i class="glyphicon glyphicon-search form-control-feedback bg-tertiary text-color-light pointer"></i>
      </div>
    </div>
  </div>

  <!--FORM SURGERIES-->
  <app-overlay *ngIf="overlaySurgery">
    <div class="col-lg-12 text-center space-inside-xl" *ngIf="loadingAdvice">
      <img src="../../../assets/img/svg-loaders/three-dots.svg" />
    </div>
    <div class="container animated fadeIn" *ngIf="!loadingAdvice">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>
        <div class="col-lg-12 space-inside-md">
          <h4 class="text-thin ">Product: <span class="text-bold">{{ selectedAdvice.name }}</span></h4>
          <p class="text-color-accent space-inside-down-sm">Klik op een operatie om posities in te vullen.</p>

          <form name="form" method="POST" (ngSubmit)="f.form.valid && updateSurgeries(selectedAdvice.id)" #f="ngForm" novalidate>
            <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal space-inside-down-sm">Opslaan</button>
            <div class="space-inside-xs" *ngFor="let surgery of surgeries; let i = index">

              <input type="checkbox" [id]="surgery.name" (change)="toggleSurgery(surgery.id)" class="inline-block space-inside-right-md" [checked]="surgeryInArray(surgery.id)">
              <label [for]="surgery.name" class="inline-block pointer"><h5 class="text-thin">Operatie: <span class="text-bold">{{ surgery.name }}</span></h5></label>

              <div *ngIf="surgeryInArray(surgery.id)" class="animated fadeIn">
                <table class="table shadow-xs">
                  <thead class="thead-inverse">
                  <tr>
                    <th>Check</th>
                    <th>Posities</th>
                  </tr>
                  </thead>
                  <tr *ngFor="let position of positions; let i = index">

                    <td class="td-max-input"><input [id]="surgery.id + position.name" (change)="addPositionToSurgery(surgery.id, position.id)" [checked]="checkboxPositionInSurgery(surgery.id, position.id)" type="checkbox" /></td>
                    <td class="td-max-input"><label class="pointer text-thin" [for]="surgery.id + position.name">{{ position.name }}</label></td>
                  </tr>
                </table>
              </div>
              <hr/>
            </div>
            <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
          </form>
        </div>
      </div>
    </div>
  </app-overlay>

  <app-overlay *ngIf="overlayProducts">
    <div class="col-lg-12 text-center space-inside-xl" *ngIf="loadingAdvice">
      <img src="../../../assets/img/svg-loaders/three-dots.svg" />
    </div>
    <div class="container animated fadeIn" *ngIf="!loadingAdvice">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

        <div class="col-lg-12 space-inside-md">
          <h4 class="text-thin ">Advies: <span class="text-bold">{{ selectedAdvice.name }}</span></h4>
          <p class="text-color-accent space-inside-down-sm">Selecteer producten waarvoor dit advies geldt.</p>


          <form name="form" method="POST" (ngSubmit)="f.form.valid && updateProducts(selectedAdvice.id)" #f="ngForm" novalidate>
            <div class="form-group">
              <div class="col-lg-4" *ngFor="let product of products; let i = index">
                <input class="space-inside-sides-xs" type="checkbox" [id]="product.id" (change)="toggleAdviceProduct(product.id)" [checked]="checkAdviceProduct(product.id)"><label [for]="product.id" class="text-light pointer space-inside-left-xs">{{ product.name }}</label>  <br/>
              </div>
            </div>
            <div class="form-group col-lg-12 space-inside-md">
              <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </app-overlay>

  <app-overlay *ngIf="overlaySelected">
    <div class="container">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

        <h4 class="text-thin ">Advies <span class="text-bold">aanpassen</span></h4>
        <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
        <div class="space-inside-sm">
          <form name="form" method="POST" (ngSubmit)="f.form.valid && update(selectedAdvice.id)" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !order.valid }">
              <label for="order">Order</label>
              <input class="form-control" type="text" id="order" name="order" [(ngModel)]="selectedAdvice.order" #order="ngModel" required/>
              <div *ngIf="f.submitted && !order.valid" class="help-block">Order is verplicht</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Naam</label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="selectedAdvice.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
            </div>
            <div class="form-group">
              <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-overlay>

  <app-overlay *ngIf="overlayOpen">
    <div class="container">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

        <h4 class="text-thin ">Advies <span class="text-bold">toevoegen</span></h4>
        <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
        <div class="space-inside-sm">
          <form name="form" method="POST" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Naam</label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !order.valid }">
              <label for="order">Order</label>
              <input class="form-control" type="text" id="order" name="order" [(ngModel)]="model.order" #order="ngModel" required/>
              <div *ngIf="f.submitted && !order.valid" class="help-block">Order is verplicht</div>
            </div>
            <div class="form-group">
              <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-overlay>


  <app-read *ngIf="!loading">

    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Order</th>
        <th>Naam</th>
        <th>Beheer</th>
        <th>Aanpassen</th>
        <th>Verwijderen</th>
      </tr>
    </thead>

    <tr class="pointer" *ngFor="let advice of advices; let i = index">
      <th>
        {{ i + 1 }}
      </th>
      <th>
        {{advice.order }}
      </th>
      <td>
        {{ advice.name }}
      </td>
      <td class="z-very-high">
        <div class="dropdown">
          <button class="btn bg-tertiary-lighten-xs text-color-light dropdown-toggle" type="button" data-toggle="dropdown">Beheer product
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="space-inside-sides-md bg-hover-accent text-hover-light transition-normal" (click)="viewSurgery(advice.id)" >Operaties en posities</li>
            <li class="space-inside-sides-md bg-hover-accent text-hover-light transition-normal" (click)="viewProduct(advice.id)" >Producten</li>
          </ul>
        </div>
      </td>
      <td>
        <button (click)="viewDetails(advice.id)" type="button" class="btn btn-primary transition-normal"><i class="material-icons">assignment</i></button>
      </td>
      <td>
        <button (click)="destroy(advice.id)"  type="button" class="btn btn-danger transition-normal"><i class="material-icons">delete_forever</i></button>
      </td>
    </tr>

  </app-read>
</app-dashboard>
