<app-dashboard>
  <div class="space-inside-sm">
    <h3 class="inline-block">
      {{ title }}
    </h3>

    <button (click)="addItem()" class="inline-block btn bg-main bg-main-hover-darken-xs transition-normal text-color-light right">
      Toevoegen
    </button>
  </div>

    <div class="container">
        <div class="col-lg-12 text-center space-inside-xl" *ngIf="loading">
            <img src="../../../assets/img/svg-loaders/three-dots.svg" />
        </div>
    </div>

    <div class="container space-inside-md left animated fadeIn" *ngIf="!loading">
        <div class="col-lg-10 space-inside-down-sm">
            <div class="form-group">
                <input type="text" (keyup)="setSearchParam($event)" class="form-control inline-block" placeholder="Zoek product..." />
                <i class="glyphicon glyphicon-search form-control-feedback bg-tertiary text-color-light pointer"></i>
            </div>
        </div>
    </div>

    <!--FORM PRODUCTSETTINGS-->
    <app-overlay *ngIf="overlaySettings">
        <div class="container">
            <div class="col-lg-10 space-inside-sides-xl">
                <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>
                <div class="col-lg-12 space-inside-md">
                    <h4 class="text-thin ">Product: <span class="text-bold">{{ selectedProduct.name }}</span></h4>
                    <p class="text-color-accent space-inside-down-sm">Selecteer de juiste instellingen.</p>

                    <form name="form" method="POST" (ngSubmit)="f.form.valid && updateProductSettings(selectedProduct.id)" #f="ngForm" novalidate>
                        <div *ngIf="selectedProductSettings.length === 0">
                            Er zijn geen settings gekoppeld aan dit product. Het koppelen kan gedaan worden onder "Productinstellingen".
                        </div>
                        <div class="col-lg-4" *ngFor="let productsetting of selectedProductSettings; let i = index">
                            <input class="space-inside-sides-xs" type="checkbox" [id]="productsetting.id" (change)="toggleProductSetting(productsetting.id)"><label [for]="productsetting.id" class="text-light pointer space-inside-left-xs">{{ productsetting.name }}</label>  <br/>
                        </div>
                        <div class="form-group col-lg-12 space-inside-md" *ngIf="selectedProductSettings.length > 0">

                            <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-overlay>

    <!--FORM SURGERIES-->
    <app-overlay *ngIf="overlaySurgery">
        <div class="container">
            <div class="col-lg-10 space-inside-sides-xl">
                <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>
                <div class="col-lg-12 space-inside-md">
                    <h4 class="text-thin ">Product: <span class="text-bold">{{ selectedProduct.name }}</span></h4>
                    <p class="text-color-accent space-inside-down-sm">Klik op een operatie om posities in te vullen.</p>

                    <form name="form" method="POST" (ngSubmit)="f.form.valid && updateSurgeries(selectedProduct.id)" #f="ngForm" novalidate>
                        <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal space-inside-down-sm">Opslaan</button>
                        <div class="space-inside-xs" *ngFor="let surgery of surgeries; let i = index">

                            <input type="checkbox" [id]="surgery.name" (change)="toggleSurgery(surgery.id)" class="inline-block space-inside-right-md">
                            <label [for]="surgery.name" class="inline-block pointer"><h5 class="text-thin">Operatie: <span class="text-bold">{{ surgery.name }}</span></h5></label>

                            <div *ngIf="surgeryInArray(surgery.id)" class="animated fadeIn">
                                <table class="table shadow-xs">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>Check</th>
                                            <th>Posities</th>
                                            <th>Surface Area</th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let position of positions; let i = index">

                                            <td class="td-max-input"><input [id]="surgery.id + position.name" (change)="addPositionToSurgery(surgery.id, position.id)" type="checkbox" /></td>
                                            <td class="td-max-input"><label class="pointer text-thin" [for]="surgery.id + position.name">{{ position.name }}</label></td>
                                            <td class="td-max-input"><input [name]="position.name" (keyup)="addSurfaceToSurgeryPosition(surgery.id, position.id, $event)" class="form-control" type="number" step="0.01" placeholder="Surface" /></td>
                                    </tr>
                                </table>
                            </div>
                            <hr/>
                        </div>
                        <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                    </form>
                </div>
            </div>
        </div>
    </app-overlay>

    <!--FORM COUNTRIES-->
    <app-overlay *ngIf="overlayCountry">
        <div class="container">
            <div class="col-lg-10 space-inside-sides-xl">
                <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>
                <div class="col-lg-12 space-inside-md">
                    <h3 class="space-inside-sm">Beschikbaarheid per land</h3>
                    <button (click)="selectAllCountries()" class="btn bg-main text-color-light">Selecteer alles</button>
                    <button (click)="deselectAllCountries()" class="btn bg-tertiary text-color-light">Deselecteer alles</button>
                </div>
                <div class="space-inside-sm">
                    <form name="form" method="POST" (ngSubmit)="f.form.valid && updateCountries(selectedProduct.id)" #f="ngForm" novalidate>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4>Geselecteerde landen</h4>
                            <p class="text-color-accent">Klik op een land om te deselecteren</p>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                        </div>
                        <div class="col-lg-12"></div>
                        <div class="col-lg-4 " *ngFor="let countryID of selectedCountries; let i = index">
                            <input type="checkbox" [id]="countryID" (change)="unselectCountry(countryID)"  [value]="countryID" checked="yes">
                            <label class="pointer" [for]="countryID"> {{ getCountryNameById(countryID) }}</label>
                            <br/>
                        </div>
                        <div class="col-lg-12 space-inside-up-md">
                            <h4>Niet-geselecteerde landen</h4>
                            <p class="text-color-accent">Klik op een land om te selecteren</p>
                        </div>
                        <div class="col-lg-4" *ngFor="let countryID of unselectedCountries; let i = index">
                            <input type="checkbox" [id]="countryID" (change)="selectCountry(countryID)"  [value]="countryID">
                            <label class="text-thin pointer" [for]="countryID"> {{ getCountryNameById(countryID) }}</label>
                            <br/>
                        </div>
                        <div class="form-group col-lg-12 space-inside-md">
                            <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-overlay>

    <!--FORM UPDATE-->
    <app-overlay *ngIf="overlaySelected">
        <div class="container">
            <div class="col-lg-10">
                <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

                <h4 class="text-thin ">Product <span class="text-bold">aanpassen</span></h4>
                <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
                <div class="space-inside-sm">
                    <form name="form" method="POST" (ngSubmit)="f.form.valid && updateProduct(selectedProduct.id)" #f="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="name">Naam</label>
                            <input class="form-control" type="text" id="name" name="name" [(ngModel)]="selectedProduct.name" #name="ngModel" required/>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
                            <label for="code">Code</label>
                            <input class="form-control" type="text" id="code" name="code" [(ngModel)]="selectedProduct.code" #code="ngModel" required />
                            <div *ngIf="f.submitted && !code.valid" class="help-block">Code is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                            <label for="description">Beschrijving</label>
                            <textarea class="form-control" id="description" name="description" [(ngModel)]="selectedProduct.description" #description="ngModel" required></textarea>
                            <div *ngIf="f.submitted && !description.valid" class="help-block">Beschrijving is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !product_line_id.valid }">
                            <label for="product_line_id">Productlijn</label>
                            <select id="product_line_id" class="form-control" name="product_line_id" [(ngModel)]="selectedProduct.product_line_id" #product_line_id="ngModel" required>
                                <option *ngFor="let productLine of productLines" [value]="productLine.id">{{ productLine.name }}</option>
                            </select>
                            <div *ngIf="f.submitted && !product_line_id.valid" class="help-block">Productlijn is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !insulating_factor_with_gown.valid }">
                            <label for="insulating_factor_with_gown">Isolatiefactor met outfit</label>
                            <input type="number" step="0.01"  class="form-control" id="insulating_factor_with_gown"
                                   name="insulating_factor_with_gown" [(ngModel)]="selectedProduct.insulating_factor_with_gown" #insulating_factor_with_gown="ngModel" required/>
                            <div *ngIf="f.submitted && !insulating_factor_with_gown.valid" class="help-block">Isolatiefactor met outfit is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !insulating_factor_without_gown.valid }">
                            <label for="insulating_factor_without_gown">Isolatiefactor zonder outfit</label>
                            <input type="number" step="0.01"  class="form-control" id="insulating_factor_without_gown"
                                   name="insulating_factor_without_gown" [(ngModel)]="selectedProduct.insulating_factor_without_gown" #insulating_factor_without_gown="ngModel" required/>
                            <div *ngIf="f.submitted && !insulating_factor_without_gown.valid" class="help-block">Isolatiefactor zonder outfit is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fluid_type.valid }">
                            <label for="fluid_type">Type vloeistof</label>
                            <select id="fluid_type" class="form-control" name="fluid_type" [(ngModel)]="selectedProduct.fluid_type" #fluid_type="ngModel" required>
                                <option value="blood">Blood</option>
                                <option value="water">Water</option>
                                <option value="plasma">Plasma</option>
                            </select>
                            <div *ngIf="f.submitted && !fluid_type.valid" class="help-block">Type vloeistof is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha.valid }">
                            <label for="alpha">Alpha</label>
                            <input type="number" step="0.01"  class="form-control" id="alpha" name="alpha" [(ngModel)]="selectedProduct.alpha" #alpha="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha.valid" class="help-block">Alpha is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha_white.valid }">
                            <label for="alpha_white">Alpha White</label>
                            <input type="number" step="0.01"  class="form-control" id="alpha_white" name="alpha_white" [(ngModel)]="selectedProduct.alpha_white" #alpha_white="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha_white.valid" class="help-block">Alpha White is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha_reflective.valid }">
                            <label for="alpha_reflective">Alpha Reflective</label>
                            <input type="number" step="0.01"  class="form-control" id="alpha_reflective" name="alpha_reflective"
                                   [(ngModel)]="selectedProduct.alpha_reflective" #alpha_reflective="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha_reflective.valid" class="help-block">Alpha Reflective is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !heat_type.valid }">
                            <label for="heat_type">Type hitte</label>
                            <select id="heat_type" class="form-control" name="heat_type" [(ngModel)]="selectedProduct.heat_type" #heat_type="ngModel" required>
                                <option value="passive">Passive</option>
                                <option value="active">Active</option>
                                <option value="fluid">Fluid</option>
                                <option value="irrigation">Irrigation</option>
                            </select>
                            <div *ngIf="f.submitted && !heat_type.valid" class="help-block">Type hitte is verplicht</div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 reset-padding">
                                <label>Combineer met product</label>
                            </div>
                            <div class="col-lg-4" *ngFor="let product of products; let i = index">
                                <input class="space-inside-sides-xs" type="checkbox" [id]="product.id" (change)="toggleCombinedProduct(product.id)" [checked]="checkProductCombined(product.id)"><label [for]="product.id" class="text-light pointer space-inside-left-xs">{{ product.name }}</label>  <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 space-inside-md reset-padding">
                                <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </app-overlay>

    <!--FORM TOEVOEGEN -->
    <app-overlay *ngIf="overlayOpen">
        <div class="container">
            <div class="col-lg-10">
                <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>
                <h4 class="text-thin ">Product <span class="text-bold">toevoegen</span></h4>
                <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
                <div class="space-inside-sm">
                    <form name="form" method="POST" (ngSubmit)="f.form.valid && combineProduct()" #f="ngForm" novalidate>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="name">Naam</label>
                            <input class="form-control" type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !code.valid }">
                            <label for="code">Code</label>
                            <input class="form-control" type="text" id="code" name="code" [(ngModel)]="model.code" #code="ngModel" required />
                            <div *ngIf="f.submitted && !code.valid" class="help-block">Code is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                            <label for="description">Beschrijving</label>
                            <textarea class="form-control" id="description" name="description" [(ngModel)]="model.description" #description="ngModel" required></textarea>
                            <div *ngIf="f.submitted && !description.valid" class="help-block">Beschrijving is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !product_line_id.valid }">
                            <label for="product_line_id">Productlijn</label>
                            <select id="product_line_id" class="form-control" name="product_line_id" [(ngModel)]="model.product_line_id" #product_line_id="ngModel" required>
                                <option *ngFor="let productLine of productLines" [value]="productLine.id">{{ productLine.name }}</option>
                            </select>
                            <div *ngIf="f.submitted && !product_line_id.valid" class="help-block">Productlijn is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !insulating_factor_with_gown.valid }">
                            <label for="insulating_factor_with_gown">Isolatiefactor met outfit</label>
                            <input type="number" step="0.01"  class="form-control" id="insulating_factor_with_gown"
                                   name="insulating_factor_with_gown" [(ngModel)]="model.insulating_factor_with_gown" #insulating_factor_with_gown="ngModel" required/>
                            <div *ngIf="f.submitted && !insulating_factor_with_gown.valid" class="help-block">Isolatiefactor met outfit is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !insulating_factor_without_gown.valid }">
                            <label for="insulating_factor_without_gown">Isolatiefactor zonder outfit</label>
                            <input type="number" step="0.01"  class="form-control" id="insulating_factor_without_gown"
                                   name="insulating_factor_without_gown" [(ngModel)]="model.insulating_factor_without_gown" #insulating_factor_without_gown="ngModel" required/>
                            <div *ngIf="f.submitted && !insulating_factor_without_gown.valid" class="help-block">Isolatiefactor zonder outfit is verplicht</div>
                         </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fluid_type.valid }">
                            <label for="fluid_type">Type vloeistof</label>
                            <select id="fluid_type" class="form-control" name="fluid_type" [(ngModel)]="model.fluid_type" #fluid_type="ngModel" required>
                                <option value="blood">Blood</option>
                                <option value="water">Water</option>
                                <option value="plasma">Plasma</option>
                            </select>
                            <div *ngIf="f.submitted && !fluid_type.valid" class="help-block">Type vloeistof is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha.valid }">
                            <label for="alpha">Alpha</label>
                            <input type="number" step="0.01" class="form-control" id="alpha" name="alpha" [(ngModel)]="model.alpha" #alpha="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha.valid" class="help-block">Alpha is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha_white.valid }">
                            <label for="alpha_white">Alpha White</label>
                            <input type="number" step="0.01" class="form-control" id="alpha_white" name="alpha_white" [(ngModel)]="model.alpha_white" #alpha_white="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha_white.valid" class="help-block">Alpha White is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !alpha_reflective.valid }">
                            <label for="alpha_reflective">Alpha Reflective</label>
                            <input type="number" step="0.01" class="form-control" id="alpha_reflective" name="alpha_reflective"
                                   [(ngModel)]="model.alpha_reflective" #alpha_reflective="ngModel" required/>
                            <div *ngIf="f.submitted && !alpha_reflective.valid" class="help-block">Alpha Reflective is verplicht</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !heat_type.valid }">
                            <label for="heat_type">Type hitte</label>
                            <select id="heat_type" class="form-control" name="heat_type" [(ngModel)]="model.heat_type" #heat_type="ngModel" required>
                                <option value="passive">Passive</option>
                                <option value="active">Active</option>
                                <option value="fluid">Fluid</option>
                                <option value="irrigation">Irrigation</option>
                            </select>
                            <div *ngIf="f.submitted && !heat_type.valid" class="help-block">Type hitte is verplicht</div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 reset-padding">
                                <label>Combineer met product</label>
                            </div>
                            <div class="col-lg-4" *ngFor="let product of products; let i = index">
                                <input class="space-inside-sides-xs" type="checkbox" [id]="product.id" (change)="toggleCombinedProduct(product.id)"><label [for]="product.id" class="text-light pointer space-inside-left-xs">{{ product.name }}</label>  <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 space-inside-md reset-padding">
                                <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-overlay>

  <app-read *ngIf="!loading">
      <thead class="thead-inverse">
          <tr>
              <th>#</th>
              <th>Naam</th>
              <th>Code</th>
              <th>Beschrijving</th>
              <th>Productlijn</th>
              <th>Productinstellingen</th>
              <th>Operaties</th>
              <th>Beschikbaarheid per land</th>
              <th>Aanpassen / Bekijken</th>
              <th>Verwijderen</th>
          </tr>
      </thead>
      <tr class="pointer" *ngFor="let product of products; let i = index">
          <th>
            {{ i + 1 }}
          </th>
          <td>
            {{product.name }}
          </td>
          <td>
              {{ product.code }}
          </td>
          <td>
              {{ product.description }}
          </td>
          <td>
              {{ getProductLineNameById(product.product_line_id) }}
          </td>
          <td>
              <button (click)="viewProductSettings(product.id)" type="button" class="btn btn-info transition-normal text-color-light">Productinstellingen</button>
          </td>
          <td>
              <button (click)="viewSurgery(product.id)" type="button" class="btn btn-success transition-normal text-color-light">Operaties</button>
          </td>
          <td>
            <button (click)="viewCountries(product.id)" type="button" class="btn bg-main bg-main-hover-darken-xs transition-normal text-color-light">Landen</button>
          </td>
          <td>
              <button (click)="viewDetails(product.id)" type="button" class="btn btn-primary transition-normal"><i class="material-icons">assignment</i></button>
          </td>
          <td>
              <button (click)="destroy(product.id)"  type="button" class="btn btn-danger transition-normal"><i class="material-icons">delete_forever</i></button>
          </td>
      </tr>
  </app-read>
</app-dashboard>
