<app-dashboard>
  <div class="space-inside-sm">
    <h3 class="inline-block">
      {{ title }}
    </h3>

    <button (click)="addItem()" class="inline-block btn bg-main text-color-light right bg-main-hover-darken-xs transition-normal">
      Toevoegen
    </button>
  </div>

  <div class="container">
    <div class="col-lg-12 text-center space-inside-xl" *ngIf="loading">
      <img src="../../../assets/img/svg-loaders/three-dots.svg" />
    </div>
  </div>

  <app-overlay *ngIf="overlaySelected">
    <div class="container">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

        <h4 class="text-thin ">Rol <span class="text-bold">aanpassen</span></h4>
        <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
        <div class="space-inside-sm">
          <form name="form" method="POST" (ngSubmit)="f.form.valid && update(selectedRole.id)" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Naam</label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="selectedRole.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
              <label for="description">description</label>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="selectedRole.description" #description="ngModel" required></textarea>
              <div *ngIf="f.submitted && !description.valid" class="help-block">description is verplicht</div>
            </div>
            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !display_name.valid }">
              <label for="display_name">Naam weergave</label>
              <input class="form-control" type="text" id="display_name" name="display_name" [(ngModel)]="selectedRole.display_name" #display_name="ngModel" required/>
              <div *ngIf="f.submitted && !display_name.valid" class="help-block">Naam weergave is verplicht</div>
            </div>
            <div class="form-group">
              <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-overlay>

  <app-overlay *ngIf="overlayOpen">
    <div class="container">
      <div class="col-lg-10 space-inside-sides-xl">
        <span (click)="hideOverlay()" class="right pointer font-lg text-hover-main transition-normal"><i class="material-icons">close</i></span>

        <h4 class="text-thin ">Rol <span class="text-bold">toevoegen</span></h4>
        <p class="text-color-accent space-inside-down-sm">Voer de juiste gegevens in.</p>
        <div class="space-inside-sm">
          <form name="form" method="POST" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
              <label for="name">Naam</label>
              <input class="form-control" type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Naam is verplicht</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
              <label for="description">description</label>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="model.description" #description="ngModel" required></textarea>
              <div *ngIf="f.submitted && !description.valid" class="help-block">Beschrijving is verplicht</div>
            </div>
            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !display_name.valid }">
              <label for="display_name">Naam weergave</label>
              <input class="form-control" type="text" id="display_name" name="display_name" [(ngModel)]="model.display_name" #display_name="ngModel" required/>
              <div *ngIf="f.submitted && !display_name.valid" class="help-block">Naam weergave is verplicht</div>
            </div>
            <div class="form-group">
              <button class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Opslaan</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </app-overlay>

  <app-read *ngIf="!loading">

    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Naam</th>
        <th>Beschrijving</th>
      </tr>
    </thead>

    <tr class="pointer" *ngFor="let role of roles; let i = index">
      <th>
        {{ i + 1 }}
      </th>
      <th>
        {{role.name }}
      </th>
      <td>
        {{ role.description }}
      </td>
    </tr>



  </app-read>
</app-dashboard>
