<div id="wrapper" [ngClass]="menuOpen ? 'toggled' : ''">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <div class="image space-inside-sm space-inside-sides-sm">
                    <img class="img-responsive" src="/assets/img/37company.svg">
                </div>
            </li>
            <li>
                <a class="transition-normal" [routerLink]="['/products']">Producten</a>
                <a class="transition-normal"  [routerLink]="['/product-lines']">Productlijnen</a>
                <a class="transition-normal" [routerLink]="['/operations']">Operaties</a>
                <a class="transition-normal" [routerLink]="['/positions']">Posities</a>
                <a class="transition-normal" [routerLink]="['/users']">Gebruikers</a>
                <a class="transition-normal" [routerLink]="['/countries']">Landen</a>
                <a class="transition-normal" [routerLink]="['/articles']">Artikels</a>
                <a class="transition-normal" [routerLink]="['/roles']">Rollen</a>
                <a class="transition-normal" [routerLink]="['/product-settings']">Productinstellingen</a>
            </li>
            <li>
                <a (click)="logout()">Uitloggen</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <button (click)="menuOpen = !menuOpen" class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Menu</button>

            <ng-content></ng-content>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

