<div id="wrapper" [ngClass]="menuOpen ? 'toggled' : ''">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand space-inside-sm">
                <div class="image space-inside-sm space-inside-sides-sm">
                    <a href="https://www.the37company.com/" target="_blank">
                        <img class="img-responsive full-height" src="/assets/img/37company.svg">
                    </a>
                </div>
            </li>
            <li class="space-inside-up-sm">
                <div class="dashboard-align">
                    <select name="language" [ngModel]="model.lang" (change)="setLanguage($event)" id="language" class="bg-tertiary text-color-light space-inside-sides-sm space-inside-xs border-curved">
                        <option *ngFor="let language of supportedLanguages; let i = index" [value]="language.code">{{ language.name }}</option>
                    </select>
                </div>
                <div>
                    <hr>
                    <span><i class="material-icons font-lg text-color-light">shopping_basket</i><h5 class="inline-block text-color-light">Producten</h5></span>
                    <a class="transition-normal" [routerLink]="['/products']">Producten</a>
                    <a class="transition-normal"  [routerLink]="['/product-lines']">Productlijnen</a>
                </div>
                <div>
                    <hr>
                    <span><i class="material-icons font-lg text-color-light">pan_tool</i><h5 class="inline-block text-color-light">Operaties</h5></span>
                    <a class="transition-normal" [routerLink]="['/surgeries']">Operaties</a>
                    <a class="transition-normal" [routerLink]="['/positions']">Posities</a>
                    <a class="transition-normal" [routerLink]="['/advices']">Adviezen</a>
                </div>
                <div>
                    <hr>
                    <span><i class="material-icons font-lg text-color-light">settings</i><h5 class="inline-block text-color-light">CMS</h5></span>
                    <a class="transition-normal" [routerLink]="['/articles']">Artikelen</a>
                    <a class="transition-normal" [routerLink]="['/categories']">Categorieën</a>
                </div>
                <div>
                    <hr>
                    <span><i class="material-icons font-lg text-color-light">perm_data_settings</i><h5 class="inline-block text-color-light">Beheer</h5></span>
                    <a class="transition-normal" [routerLink]="['/users']">Gebruikers</a>
                    <a class="transition-normal" [routerLink]="['/roles']">Rollen</a>
                    <a class="transition-normal" [routerLink]="['/countries']">Landen</a>
                    <a class="transition-normal" [routerLink]="['/product-settings']">Productinstellingen</a>
                </div>
            </li>
            <li>
                <hr>
                <span><i class="material-icons font-lg text-color-light">exit_to_app</i><h5 class="inline-block text-color-light">Uitloggen</h5></span>
                <a (click)="logout()">Uitloggen</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <button (click)="menuOpen = !menuOpen" class="btn bg-tertiary text-color-light bg-tertiary-hover-lighten-xs transition-normal">Menu</button>
                <ng-content></ng-content>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

